{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Dossiers Médicaux</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'home' %}">Gestion Médicale</a>
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'lister_enregistrements' %}">Gérer les Enregistrements</a></li>
                <li><a href="{% url 'effectuer_recherche' %}">Recherche</a></li>
                <li><a href="{% url 'appliquer_filtres' %}">Filtres</a></li>
                <li><a href="{% url 'create_medecin' %}">Créer compte</a></li>
            </ul>
        </nav>
    </header>
    <main id="contenu-principal" role="main">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Gestion des Dossiers Médicaux. Tous droits réservés.</p>
    </footer>
</body>
</html>